[Unit]
Description=Zettabyte File System (ZFS) encrypted
Documentation=man:zfs(8) man:zpool(8)
DefaultDependencies=no
After=cryptsetup.target
Before=local-fs.target
Conflicts=shutdown.target umount.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/modprobe zfs
ExecStart=/usr/sbin/encryptedZfs start POOL_NAME UUID_DISK_1 UUID_DISK2 UUID_DISK3
ExecStop=/usr/sbin/encryptedZfs stop POOL_NAME UUID_DISK_1 UUID_DISK2 UUID_DISK3

[Install]
WantedBy=local-fs.target
